<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GeoQuizzer</title>
        <link rel="stylesheet" type="text/css" href = "css/style.css">
    </head>
    <body>
        {{> topnav}}
        <div class="content">
            <p>Welcome to the GeoQuizzer!<br><br>
            The list of maps is where all our current maps are located!<br><br>
            Individual progress is unavailable at the moment, but we will we be adding that shortly!<br><br>
            If you would like to give our website feedback, please fill out the google form in the feedback form!</p>
        </div>
    </body>
</html>